services:
  backend:
    build: ./backend
    container_name: fastapi-app
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/app/app

    env_file:
      - ./.env

  frontend:
    build: ./frontend
    container_name: react-app
    ports:
      - "5173:5173"
    depends_on:
      - backend
    volumes:
      - ./frontend/src:/frontend/src
      - ./frontend/public:/frontend/public
    env_file:
      - ./.env